<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <h2>Environmental</h2>
          <p>Our mission is to promote service across the world by connecting volunteers with service opportunities in their community.</p>
        <h2>Education</h2>
          <p>minimize ecological footprints, conserve resources, and reduce pollution.</p>
        <h2>Community Service</h2>
            <p>Prepare and serve hot meals to individuals and families experiencing homelessness or food insecurity.</p>
        <h2>Health and Wellness</h2>
          <p> Engaging in activities like brisk walking, running, or swimming to strengthen your heart and lungs.</p>
          <img class="main-logo" src="images/cse340-service-network.png" alt="CSE 340 Service Network Logo">
    </main>
<%- include('partials/footer') %>
